body,
html {
  height: 100%;
}
.jumbotron {
  background-image: url("./images/main.jpg");
  /* background-image: url("https://www.imagen.com.mx/assets/img/imagen_share.png") ; */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
